<div class="container">
  <div class="row large-4">
    <div class="box">
      <h1>Edit Article</h1>
      <%= form_for @blog, method: "put" do |blog| %>
        <%= blog.label :title %>
        <%= blog.text_field :title, value: @blog.title %>
        <%= blog.label :article %>
        <%= blog.text_field :article, value: @blog.article %>
        <%= blog.submit "Save", :class => "tiny radius button" %>
      <% end %>
      </div>
  </div>
</div>
