<div class="container blog">
  <div class="row large-8">
    <div class="box">
    <h1>RECENT NEWS</h1>
    <% @blogs.each do |b| %>
      <h4><%= b.title %></h4>
      <p><%= b.article %></p>
      <p>Posted: <%= b.created_at.strftime("%b %d, %Y") %></p>
      <% if user_signed_in? %>
        <div>
          <%= button_to "Edit", edit_blog_path(b.id), :method => "get", action: "edit", :class => "tiny radius button left" %>
          <%= button_to "Delete", blog_path(b.id), :method => "delete", :confirm => "Are you sure?", :class => "tiny radius button" %>
        </div>
      <% end %>
      <hr>
    <% end %>
    <%= will_paginate @blogs %>
    </div>
  </div>
</div>
