<div class="container">
  <div class="row large-8">
  <h1>Create New Article</h1>
    <%= form_for @blog, method: "post" do |blog| %>
      <%= blog.label :title %>
      <%= blog.text_field :title %>
      <%= blog.label :article %>
      <%= blog.text_area :article %>
      <%= blog.submit "Create" %>
    <% end %>
  </div>
</div>
