<div class="container edit-screen">
  <div class="row">
    <div class="box small-8 medium-6 large-4">
      <h1>Edit Video</h1>
      <%= form_for @video, method: "put" do |video| %>
        <%= video.label :title %>
        <%= video.text_field :title, value: @video.title %>
        <%= video.label :url %>
        <%= video.text_field :url, value: @video.url %>
        <%= video.submit "Save", :class => "tiny radius button" %>
      <% end %>
    </div>
  </div>
</div>
