<div class="container edit-screen">
  <div class="row">
    <div class="box small-8 medium-6 large-4">
      <h1>Edit Song</h1>
      <%= form_for @song, method: "put" do |song| %>
        <%= song.label :title %>
        <%= song.text_field :title, value: @song.title %>
        <%= song.label :url, "URL" %>
        <%= song.text_field :url, value: @song.url %>
        <%= song.submit "Save", :class => "tiny radius button" %>
      <% end %>
      </div>
  </div>
</div>
