<div class="container music">
  <div class="row">
  <div class="box small-12 medium-10 large-10 clearfix">
  <h2>MUSIC</h2>
   <iframe class="bc" width="350px" height="470" style="border: 0;" src="http://bandcamp.com/EmbeddedPlayer/album=3206561127/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/transparent=true/" seamless><a href="http://divisionmen.bandcamp.com/album/under-the-gun">Under The Gun by The Division Men</a></iframe>
   <!-- <h6>Recorded: May 2014</h6> -->

    <iframe class="bc" width="350px" height="470" style="border: 0;" src="http://bandcamp.com/EmbeddedPlayer/album=3640835638/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/transparent=true/" seamless><a href="http://divisionmen.bandcamp.com/album/live-clap-of-thunder">Live @ Clap of Thunder by The Division Men</a></iframe>
    <!-- <h6>Recorded: June 2011</h6> -->
    <% @songs.each do |s| %>

      <h4><%= s.title %></h4>

      <!-- soundcloud -->
      <% if s.url =~ /soundcloud{1}/i %>
        <object height="20px" width="100%" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
          <param name="movie" value="http://player.soundcloud.com/player.swf?url=<%= s.url %>&enable_api=true&player_type=tiny&show_comments=false"></param>
          <param name="allowscriptaccess" value="always"></param>
          <param name="wmode" value="transparent"></param>
          <embed wmode="transparent" allowscriptaccess="always" height="18" width="100%" src="http://player.soundcloud.com/player.swf?url=<%= s.url %>&player_type=tiny&enable_api=true" ></embed>
        </object>
      <% end %>

      <% if user_signed_in? %>
        <div>
          <%= button_to "Edit", edit_song_path(s.id), :method => "get", action: "edit", :class => "tiny radius button left" %>
          <%= button_to "Delete", song_path(s.id), :method => "delete", data: {confirm: "Are you sure?"}, :class => "tiny radius button" %>
        </div>
      <% end %>
      <!-- <hr> -->
    <% end %>
    </div>
  </div>
</div>
