<div class="container edit-screen">
  <div class="row">
    <div class="box small-12 medium-6 large-4">
      <h1>Create New Song</h1>
        <%= form_for @song, method: "post" do |song| %>
          <%= song.label :title %>
          <%= song.text_field :title %>
          <%= song.label :url %>
          <%= song.text_field :url %>
          <%= song.submit "Create", :class => "tiny radius button" %>
        <% end %>
      </div>
  </div>
</div>
