<div class="container">
  <div class="row large-4">
    <h1>Create New Song</h1>
      <%= form_for @song, method: "post" do |song| %>
        <%= song.label :title %>
        <%= song.text_field :title %>
        <%= song.label :embed %>
        <%= song.text_field :embed %>
        <%= song.submit "Create" %>
      <% end %>
  </div>
</div>
