<div class="container live-page">
  <div class="row">
    <div class="box large-10">
    <h1>Upcoming Shows</h1>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>City</th>
          <th>Venue</th>
          <th>With</th>
          <% if user_signed_in? %>
            <td><h4>Edit/Delete</h4></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @tours.each do |t| %>
          <tr>
          <td><%= t.date.strftime("%b %d, %Y") %></td>
          <td><%= t.city %></td>
          <td><a href="<%= t.url %>" target="_blank"><%= t.venue %></a></td>
          <td><%= t.bands %></td>
          <% if user_signed_in? %>
            <td><div>
              <%= button_to "Edit", edit_tour_path(t.id), :method => "get", action: "edit", :class => "tiny radius button" %>
              <%= button_to "Delete", tour_path(t.id), :method => "delete", :confirm => "Are you sure?", :class => "tiny radius button" %>
            </div></td>
          <% end %>
          <!-- <hr> -->
        <% end %>
        </tr>
      </tbody>
    </table>
   </div>
  </div>
</div>
