<div class="row large-6">
<table>
  <thead>
    <tr>
      <td><h3>Venue</h3></td>
      <td><h3>City</h3></td>
      <td><h3>Date</h3></td>
    </tr>
  </thead>
</table>
<% @tours.each do |t| %>
  <a href="<%= t.url %>" target="_blank"><%= t.venue %></a>
  <%= t.city %>
  <%= t.date %>
  <div>
    <%= button_to "Edit", edit_tour_path(t.id), :method => "get", action: "edit", :class => "small radius button left" %>
    <%= button_to "Delete", tour_path(t.id), :method => "delete", :confirm => "Are you sure?", :class => "small radius button" %>
  <hr>
</div>
<% end %>
</div>


