<div class="container add">
  <div class="row large-4">
    <div class="box">
    <h1>Create New Show</h1>
      <div class="tour">
        <%= form_for @tour, method: "post" do |tour| %>
          <%= tour.label :venue %>
          <%= tour.text_field :venue %>
          <%= tour.label :city %>
          <%= tour.text_field :city %>
          <%= tour.label :url %>
          <%= tour.text_field :url %>
          <%= tour.label :date %>
          <%= tour.text_field :date %>
          <%= tour.label :bands %>
          <%= tour.text_field :bands %>
          <%= tour.submit "Create", :class => "tiny radius button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
