<div class="container contact">
  <div class="row large-4 contact">
    <h1>Contact Us</h1>
    <h3><a href="mailto:booking@divisionmen.com">booking@divisionmen.com</a></h3>
    <div class="icons">
      <a href="https://www.facebook.com/divisionmen" target="_blank" class="hollow grow"><%= image_tag "facebook.png" %></a>
      <a href="https://twitter.com/divisionmen" target="_blank" class="hollow grow"><%= image_tag "twitter.png" %></a>
      <a href="http://divisionmen.bandcamp.com/" target="_blank" class="hollow grow"><%= image_tag "bandcamp.png" %></a>
      <a href="https://soundcloud.com/divisionmen" target="_blank" class="hollow grow"><%= image_tag "soundcloud.png" %></a>
      <a href="http://www.reverbnation.com/thedivisionmen" target="_blank" class="hollow grow"><%= image_tag "reverbnation.png" %></a>
    </div>
  </div>
</div>
