<div class="container contact">
  <div class="row">
  <div class="box small-12 medium-8 large-6">
    <h2>CONTACT US</h2>
    <!-- <h3><a href="mailto:booking@divisionmen.com">booking@divisionmen.com</a></h3> -->
    <h3>BOOKING<br></h3>
    <h4 style="text-align: center;"><a href="http://www.theyellowrail.com/" target="_blank">THE YELLOW RAIL</a></h4>
    <br>
    <h3>PURCHASE</h3>
    <h4 style="text-align: center;">
      <a href="http://www.cdbaby.com/cd/thedivisionmen" target="_blank">CD Baby</a> |
      <a href="https://itunes.apple.com/us/album/under-the-gun/id941893509" target="_blank">iTunes</a>
    </h4>
    <br>
    <h3>FOLLOW US</h3>
    <div class="icons">
      <a href="https://www.facebook.com/divisionmen" target="_blank"><%= image_tag "facebook.png" %></a>
      <a href="https://twitter.com/divisionmen" target="_blank"><%= image_tag "twitter.png" %></a>
      <a href="https://open.spotify.com/artist/4e9RhlBFg4bhFtXZO99wrD?si=CITHXGT7S3Gzl78ZSb94UA" target="_blank"><%= image_tag "spotify.png" %></a>
      <a href="http://divisionmen.bandcamp.com/" target="_blank"><%= image_tag "bandcamp.png" %></a>
      <a href="https://soundcloud.com/divisionmen" target="_blank"><%= image_tag "soundcloud.png" %></a>
      <a href="http://www.reverbnation.com/thedivisionmen" target="_blank"><%= image_tag "reverbnation.png" %></a>
    </div>
    </div>
  </div>
  <div class="footer">
    <div class="row">
      <span>&#169;2014 Designed by <a href="http://bobbysmith.io" target="_blank">Bobby Smith</a></span>
    </div>
  </div>
</div>
