<div class="container contact">
  <div class="row">
  <div class="box small-12 medium-8 large-6 middle-page">
    <h2>CONTACT US</h2>
    <!-- <h3><a href="mailto:booking@divisionmen.com">booking@divisionmen.com</a></h3> -->
    <h3>BOOKING<br></h3>
    <h4 style="text-align: center;"><a href="http://www.theyellowrail.com/" target="_blank">THE YELLOW RAIL</a></h4>
    <br>
    <h3>FOLLOW US</h3>
    <div class="icons">
      <a href="https://www.facebook.com/divisionmen" target="_blank" class="trim grow"><%= image_tag "facebook.png" %></a>
      <a href="https://twitter.com/divisionmen" target="_blank" class="trim grow"><%= image_tag "twitter.png" %></a>
      <a href="http://divisionmen.bandcamp.com/" target="_blank" class="trim grow"><%= image_tag "bandcamp.png" %></a>
      <a href="https://soundcloud.com/divisionmen" target="_blank" class="trim grow"><%= image_tag "soundcloud.png" %></a>
      <a href="http://www.reverbnation.com/thedivisionmen" target="_blank" class="trim grow"><%= image_tag "reverbnation.png" %></a>
    </div>
    </div>
  </div>
  <div class="footer">
    <div class="row">
      <span>&#169;2014 Designed by <a href="http://bobbysmith.codes" target="_blank">Bobby Smith</a></span>
    </div>
  </div>
</div>
