<div class="container photo-page">
  <div class="row">
    <div class="box small-12 medium-12 large-12 clearfix">
      <h2>ABOUT</h2>
      <p>This Texas bred, Husband / Wife Acoustic Duo originally formed in Berlin, Germany in 2008. They are now based in Austin, TX. The band is made up of founder J. Spencer Portillo (vocals / acoustic guitar) and Caroline Rippy Portillo (vocals / bass guitar).</p>

      <p>The Division Men's named was derived from the idea of artists collaborating from all over the world despite the their locations. J. Spencer Portillo spent countless days and nights writing in his apartment in Berlin, Germany. He worked, recorded and performed with artists such as Mitch Hertz, Steven Medina Hufsteter and Fredo Ortiz. Although the collaborations dwindled, J. Spencer and his then girlfriend Caroline continued to actively write and perform together under the already established name "The Division Men".</p>

      <p>Caroline was born in San Antonio, Texas. From 2007 until 2012, she played bass guitar for Tito &amp; Tarantula. J. Spencer Portillo was born in Los Angeles, California but was raised in El Paso, Texas. His El Paso roots offer a huge influence on the lyrics which frequently present atmospheric portraits of love, life and death in a border town.</p>

      <p>The Division Men are actively touring and promoting their latest album "Under The Gun" which was recorded at their in-home studio in Austin, Texas. The Division Men have a distinctive sound that has been described as dark, romantic, ethereal, and haunting. The band is currently recording a new album for June 2017.</p>

      <p>In November 2016, the band joined Johnette Napolitano (Concrete Blonde, The (Talking) Heads) as her backing band on the West Coast. Along with Gabriel Ramirez (Concrete Blonde, Maria Fatal),  the four musicians brought new music to a much larger audience.</p>

      <p>The Division Men will continue to open, accompany and record new music with Johnette Napolitano. Expect new music along with National / International tour dates soon.</p>
      <br>
      <hr>
      <br>
      <h4>REVIEWS</h4>
      <% @reviews.each do |r| %>
        <%= raw(r.quote) %>
        <% if user_signed_in? %>
          <div>
            <%= button_to "Edit", edit_review_path(r.id), :method => "get", action: "edit", :class => "tiny radius button left" %>
            <%= button_to "Delete", review_path(r.id), :method => "delete", data: {confirm: "Are you sure?"}, :class => "tiny radius button" %>
          </div>
        <% end %>
        <hr style="width: 14em; margin: 0 auto;"><br>
      <% end %>
      <hr>
      <br>
    <!-- <div class="box small-12 medium-9 large-9 clearfix"> -->
    <h4>PHOTOS</h4>
      <div class="photos clearfix" style="margin: 0 auto;">
        <% @photos.each do |p| %>

        <!-- icon -->
          <a href="#" data-reveal-id="myModal" class="image"><img src="<%= p.url %>" alt=""></a>
        
          <!-- modal screen -->
          <div id="myModal" class="reveal-modal" data-reveal>
            <img src="<%= p.url %>" alt="" style="display: block; margin: 0 auto;">
            <a class="close-reveal-modal"><h4>x</h4></a>
          </div>

          <!-- edit delete buttons -->
          <% if user_signed_in? %>
            <div>
              <%= button_to "Edit", edit_photo_path(p.id), :method => "get", action: "edit", :class => "tiny radius button" %>
              <%= button_to "Delete", photo_path(p.id), :method => "delete", data: {confirm: "Are you sure?"}, :class => "tiny radius button" %>
            </div>
          <% end %>

        <% end %>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>