<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag "favicon.ico" %>

    <title><%= content_for?(:title) ? yield(:title) : "The Division Men" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <section class="nav">
      <nav>
        <span><%= link_to "HOME", root_path %></span>
        <span><%= link_to "NEWS", blogs_path %></span>
        <span><%= link_to "TOUR", tours_path %></span>
        <span><%= link_to "AUDIO", songs_path %></span>
        <span><%= link_to "VIDEO", videos_path %></span>
        <span><%= link_to "CONTACT", contact_path %></span>
      </nav>
      <div class="user-nav nav">
        <% if user_signed_in? %>
          <span><%= link_to "ADD POST", new_blog_path %></span>
          <span><%= link_to "ADD SHOW", new_tour_path %></span>
          <span><%= link_to "ADD SONG", new_song_path %></span>
          <span><%= link_to "ADD VIDEO", new_video_path %></span>
          <span><%= link_to "SIGN OUT", destroy_user_session_path, :method => "delete" %></span>
        <% end %>
      </div>
    </section>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
