<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag "favicon.ico" %>

    <title><%= content_for?(:title) ? yield(:title) : "The Division Men" %></title>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script type="text/javascript">
      tinymce.init({
        selector: "textarea"
      });
    </script>
  </head>

  <body>
    <div class="nav fixed">
      <!-- <div class="contain-to-grid sticky"> -->
        <nav>
          <section>
          <div class="nav main-nav">
              <span><%= link_to "HOME", root_path %></span>
              <span><%= link_to "NEWS", blogs_path %></span>
              <span><%= link_to "LIVE", tours_path %></span>
              <span><%= link_to "LISTEN", songs_path %></span>
              <span><%= link_to "WATCH", videos_path %></span>
              <span><%= link_to "CONTACT", contact_path %></span>
            </div>
            <% if user_signed_in? %>
              <div class="user-nav nav" style="background: black;">
                  <span><%= link_to "Add Blog", new_blog_path %></span>
                  <span><%= link_to "Add Show", new_tour_path %></span>
                  <span><%= link_to "Add Song", new_song_path %></span>
                  <span><%= link_to "Add Video", new_video_path %></span>
                  <span><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %></span>
              </div>
            <% end %>
            <!-- <li class="toggle-topbar menu-icon"><a href="#"><span>MENU</span></a></li> -->
          </section>
        </nav>
      <!-- </div> -->
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
